.logo{
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right,#000428,#004e92);
    border-radius: 10px;
    border-color: aliceblue;
    box-shadow: 100px;
}

