.signout{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    text-decoration: underline;
    font-size: 200%;
    text-decoration-color: white;
    color: white;
    margin: 20px;
    padding: 10px;
}

.signout:hover{
    opacity: 0.5;
    cursor: pointer;
}

.na{
    display: flex;
    justify-content: flex-end;
}